/* Using code for navigation from: https://codepen.io/IanLunn/pen/NPapxy */
@mixin shadow {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

/* colours in scene.js */
/* TODO: sass to js for these colours */
$blue:      #0212f4;
$red:       #ff0000;
$yellow:    #f7ec0e;
$green:     #106316;
$orange:    #f77c02;

/* also use ... */
$purple:        #45163F;
$black-tint:    rgba(0,0,0,0.7);

/* not planning to exceed 4 li's deep in this design */
$liBkgColours: $purple, $green, $orange, $red, $blue;

$backgroundHighlight: $purple;
$textColor: white;

$menuSpeed: .5s;
$highlightSpeed: .3s;

$drawerTop: 10px;


html, #container
{
    position: absolute;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    margin: 0 auto;
}



/* Resets */
body, ul {
  margin: 0;
  padding: 0;

}

/* Decor */
body {
    background: black;
}

/* outer <ul> */
.drawer {
  width: auto;
  position: absolute;
  z-index: 10;
  top: $drawerTop;
  right: 5px;
  height: 100%;
  padding: .4em 0;
  color: $textColor;
  text-align: center;
  transition: opacity $menuSpeed;
  transition-delay: 0.3s;
  

  /* Remove 4px gap between <li> */
  font-size: 0;
  
  li {
    
    pointer-events: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    line-height: 100%;
    transform: translateZ(0);
    background-color: $black-tint;
    opacity: 0.7;
  }

  li:hover {
      opacity: 1.0;
  }

  li.has-hover:hover {
    opacity: 1.0;
  }
  
  a {
    pointer-events: auto;
    position: relative;
    display: block;
    min-width: 5em;
    /*margin-bottom: .4em;*/
    padding: .4em;
    line-height: 100%;
    /* Reset font-size */
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: background $highlightSpeed;
    
    /* i.e. clicked on something - retains focus/active */
    &:active,
    &:focus {
      background: $backgroundHighlight;
    }
  }
  
  i {
    display: block;
    margin-bottom: .2em;
    font-size: 2em;
  }
  
  span {
    font-size: .625em;
    font-family: sans-serif;
    text-transform: uppercase;
  }

  /* ------------------------- */
    
  li.has-hover:hover ul {
    /* --------------------- */
    /* Open the fly-out menu */
    /* --------------------- */
    transform: translateX(-10px);

    opacity: 1;
    transition-delay: .1s;
  }
  /* ------------------------- */
  
  
    @for $i from 1 through length($liBkgColours) {
        > li li:nth-child(#{length($liBkgColours)}n+#{$i}) a:hover {
            background: nth($liBkgColours, $i);
        }
    }

  > li {
    display: block;
 
      
    a:hover {
        opacity: 1;
        background-color: $backgroundHighlight;
    }
    
    &:hover {
      z-index: 100;
      opacity: 1;
    }
        
    /* Add a shadow to the top-level link */
    > a:after {
      content: "";
      position: relative;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 4px;
      opacity: 0;
      @include shadow();
      transition: opacity $menuSpeed;
    }
    
    /* Show the shadow when the link is hovered over */
    &:hover a:after {
      opacity: 1;
    }
    
    /* Fly out menus (inner <ul> ) */
    ul {
      position: absolute;
      /* Stack below the top level */
      overflow: hidden;
      z-index: -1; 
      top: 0;
      right: 100%;

      width: auto;
      max-height: 80vw;
      max-width: 80vw;
      min-width: 75vw;

      white-space: nowrap;

      /* --------------- */
      /* Close the menus */
      /* --------------- */

      opacity: 0;
      transform: translateX(110%);
      transition: transform $menuSpeed, opacity $menuSpeed;
      transition-delay: 0.4s;

        > li {
            padding: 2px;
            margin: 2px;
            float: right;
            border: 2px solid $red;
            float: right;
        }
    }
  }

}


#orbitControls
{
    position: absolute;
    font-size: 1rem;
    right: 4rem;
    bottom: 5px;
    z-index: 101;
    
    text-align: center;
    height: 2rem;
    width: auto; 
    
    opacity: 0.4;
    transition: background $highlightSpeed;

    

    &:hover
    {
        opacity: 1.0;
        background-color: $backgroundHighlight;
    }

    a {
    pointer-events: auto;
    position: relative;
    display: block;
    min-width: 5em;
    /*margin-bottom: .4em;*/
    padding: .4em;
    line-height: 100%;
    /* Reset font-size */
    font-size: 16px;
    text-decoration: none;
    color: $yellow;
    
    }
}

/* refresh icon at bottom */

@keyframes refresh {
  50% {
    transform: scale(1.26923077);
  }
}

@keyframes the-x {
  50% {
    transform: translateY(-8px) translateZ(0);
  }
}

.restart-page {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 101;
  
  height: 2rem;
  width: 2rem; 
  
  opacity: 0.4;

  svg {
    overflow: display;
    transform: translateZ(0);
    height: 2rem;
    width: 2rem;


    .refresh-holder {
      transform: translate(-7px, -7px);
    }

    .refresh {
      transform: translate(7px, 7px);
      fill: $yellow;
    }

    .x {
        fill: $yellow;
    }

    &.active {
      .x {
        animation: the-x .4s ease-in-out;
        fill: $red;
      }

      .refresh {
        animation: refresh .5s .1s ease-in-out;
        fill: $red;
      }
    }
  }
}